<div class="heading">
    <h1>Projects</h1>
    <span>We produce featured projects every year</span> 
  </div>
  <div class="cd-half-width third-slide">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content third-content">
            <div class="row">
              <div class="col-md-7 left-image">
                <img src="../../assets/img/left-feature-image.png">
              </div>
              <div class="col-md-5">
                <div class="right-feature-text">
                  <h4>Our first Featured Project: <em>Daffini Jumpsuit</em></h4>
                  <p>We are honored to help the poor people, especially in the countryside, by helping them resist the harsh and cold winter with a product made of plastic bottles, which also helps reduce plastic pollution.</p>
                  <div class="feature-list">
                    <ul>
                      <em>goals achieved :</em>
                      <p>- one suit = 900 plastic bottles.</p>
                      <p>- reduce plastic pollution by 0.02% per suit.</p>
                      <p>- Comfortable winter. </p>
                      <p>- reduce air pollution CO<sub>2</sub> by 0.08% per suit</p>
                      <p>- Create a job filled industry for this product</p>
                    </ul>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>                  
    </div>
  </div>
