<div class="heading">
    <h1>Contact us</h1>
    <span>You'll be responded within 48 hrs</span> 
  </div>
  <div class="cd-half-width fivth-slide">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content fivth-content">
            <div class="row">
              <div class="col-md-4">
                <div class="left-info">
                  <p>We want to hear your opinions, ideas and even your issues, Our goal is a better world for everyone,  We give you a way to communicate with us.
                  <br><br>
                  <em> Adresse: 47, Rue des Entrepreneurs Charguia II 2035- Tunis Carthage (Tunisie)</em>
                  
                  </p>
                  <ul class="social-icons">
                    <i><a href="#"><i class="fa fa-facebook"></i></a></i>
                    <i><a href="#"><i class="fa fa-twitter"></i></a></i>
                    <i><a href="#"><i class="fa fa-linkedin"></i></a></i>
                    <i><a href="#"><i class="fa fa-instagram"></i></a></i>
                    <i><a href="#"><i class="fa fa-youtube"></i></a></i>
                  </ul>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <form id="contact" action="" method="post">
                    <div class="col-md-6">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required>
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message" required></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message</button>
                      </fieldset>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>                  
    </div>
  </div>
