<div class="heading">
    <h1>Our Partnerships</h1>
    <span>Here you can check our Partners</span> 
  </div>
  <div class="cd-half-width fourth-slide">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content fourth-content">
            <div class="row">
              <div class="col-md-3 project-item">
                <a href="../../assets/img/item-01.jpg" data-lightbox="image-1"><img src="../../assets/img/item-01.jpg"></a>
              </div>
              <div class="col-md-3 project-item">
                <a href="../../assets/img/item-02.jpg" data-lightbox="image-1"><img src="../../assets/img/item-02.jpg"></a>
              </div>
              <div class="col-md-3 project-item">
                <a href="../../assets/img/item-03.png" data-lightbox="image-1"><img src="../../assets/img/item-03.png"></a>
              </div>
              <div class="col-md-3 project-item">
                <a href="../../assets/img/item-04.jpg" data-lightbox="image-1"><img src="../../assets/img/item-04.jpg"></a>
              </div>
          </div>
        </div>
      </div>                  
    </div>
  </div>
