<div id="body">
  <div class="overlay"></div>
  <section class="top-part">
    <video controls autoplay loop muted>
      <source src="../assets/videos/video2.mp4" type="video/mp4">
      <!--<source src="videos/video.ogg" type="video/ogg">-->
    Your browser does not support the video tag.
    </video>
  </section>
  <section class="cd-hero">
    <div class="cd-slider-nav">
      <nav>
        <span class="cd-marker item-1"></span>
        <ul style="height: 240px;">
          <li class="selected"><a href="#0"><div class="image-icon"><img src="../assets/img/home-icon.png"></div><h6>Welcome</h6></a></li>
          <li><a href="#0"><div class="image-icon"><img src="../assets/img/about-icon.png"></div><h6>About Us</h6></a></li>
          <li><a href="#0"><div class="image-icon"><img src="../assets/img/projects-icon.png"></div><h6>Projects</h6></a></li>
          <li><a href="#0"><div class="image-icon"><img src="../assets/img/featured-icon.png"></div><h6>Partners</h6></a></li>
          <li><a href="#0"><div class="image-icon"><img src="../assets/img/contact-icon.png"></div><h6>Contact Us</h6></a></li>
        </ul>
      </nav> 
    </div> 
    <ul class="cd-hero-slider">
      <li class="selected">
        <app-home></app-home>
      </li>
      <li>
        <app-about></app-about>
      </li>
      <li>
        <app-projects></app-projects>
      </li>
      <li>
        <app-partners></app-partners>
      </li>
      <li>
        <app-contact></app-contact>
      </li>
    </ul>
  </section>
 <footer>
          <p>Copyright &copy; {{ currentYear }} Enactus Iset Charguia
                                
        	| Developed by <a href="https://www.linkedin.com/in/ghaith-arfaoui-7501aa180/" target="_blank"><em>Arfaoui Ghaith</em></a></p>
        </footer>
</div>