<div class="card">
        <div class="col-md-4 col-sm-6 col-xs-12 wcard" style="padding-left: 0px;padding-right: 30px;">
            <article class="material-card enactus">
                <h2>
                    <span>{{member.name}}</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                       {{member.role}}
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" style="border-top-left-radius: 20px; border-top-right-radius: 20px;" [src]="member.image">
                    </div>
                    <div class="mc-description" style="color:#ECEFF1">
                       <p> {{member.description}} </p>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4 style="color: #ECEFF1">
                        Social
                    </h4>
                    <a  class="fa fa-fw fa-facebook" [href]="member.facebook"></a>
                    <a  class="fa fa-fw fa-instagram" [href]="member.instagram"></a>
                    <a  class="fa fa-fw fa-google-plus" [href]="member.gmail"></a>
                </div>
            </article>
        </div>
        
    </div>

