<div class="heading">
    
   
<div class="div">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 207 208" xml:space="preserve" style="width:1100px; height:1000px">
  
    <g id="XMLID_21_">
      <polygon id="XMLID_23_" class="st0" points="201.1,133.5 162.4,94.8 75.7,8.1 75.7,133.5 6.3,133.5 75.7,202.9 145,133.5 	"/>
      <polygon id="XMLID_22_" class="st1" points="75.7,202.9 75.7,133.5 67.9,133.5 	"/>
      <polygon id="XMLID_46_" class="st2" points="173,105.3 145,133.5 153.6,133.5 	"/>
    </g>
    </svg>
    
    
      </div>
    

      <!-- <h1><img src="../assets/img/isetch.png" style="height: 120px; padding-right: 40px; margin-top: -33px;;"></h1> -->
    
    <h1 style="padding-top:270px; text-transform: none;font-weight: bold; letter-spacing:0.3rem;" class="font"> enactus Iset Charguia </h1>
    <span>Welcome To Our Website</span>
  </div>
  <div class="cd-full-width first-slide">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content first-content">
            <h4>Let’s Talk More About Enactus Iset Charguia</h4>
            <p>Founded in 2017, enactus iset charguia is a chapter of a global organization that connects student, academic and business leaders through entrepreneurial based-projects.</p>
              <br><hr><br>
            <div  *ngIf="eventsArray != null">
            <h4>News & Events</h4>
            <hr>

            <div class="blog-card" *ngFor="let event of eventsArray">
              <div class="meta">
                <div class="photo" [ngStyle]="{ 'background-image': 'url(' + event.image + ')'}"></div>
  
              </div>
              <div class="description">
                <h1 style="color:aliceblue;padding: 10px; font-weight: bold;">{{event.title}}</h1>
                
                <p style="color:aliceblue"> {{event.description}}</p>
                <p class="read-more">
                  <a class="btn" style="background-color: #fff; color:#ffbb05" [href]="event.lien_formulaire" *ngIf="event.lien_formulaire != null">Im going!</a>
                </p>
              </div>
            </div>
            
          
          </div>
          
          </div>

        
        </div>
      </div>                  
    </div>
  </div>
